@import "tailwindcss";
@import "./fonts.css";

@theme {
	--color-background: #151a22;
	--color-liam-background: #232b38;
	--color-liam-skin: #a7aab1;
	--color-liam-hat: #aa0202;
	--color-liam-hair: #0a0b0f;
}

:root {
	color-scheme: dark;
}

* {
	@apply box-border font-[MADE];
}

html {
	@apply bg-background box-border min-h-screen text-white;
	scrollbar-gutter: stable;
}

h1 {
	@apply text-5xl font-semibold text-white;
}

h2 {
	@apply text-2xl text-white;
}

input[type="text"] {
	@apply bg-liam-background outline-0;
}

.link {
	@apply cursor-pointer font-medium text-white;
}

.btn {
	@apply bg-liam-background cursor-pointer rounded-xs px-2 py-1 outline-1 outline-gray-700;
}

.light-outline {
	@apply outline-1 outline-gray-700;
}
